.success,
.error {
  background-color: lightgray;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
.success {
  color: green;
  border: 3px solid green;
}
.error {
  color: red;
  border: 3px solid red;
}
